:root {
    --main-rgb: 173, 216, 230;
    --nav-rgb: 0, 98, 139;
    --button-rgb: 255, 255, 255;
    --button-text-rgb: 0, 0, 0;
    color-scheme: light;
}

*{
    transition-duration: 0.3s;
}

body {
    background-color: rgba(var(--main-rgb));
    margin: 0;
}

th {
    cursor: pointer;
}

th:hover {
    background-color: ghostwhite;
}

a {
    color: rgba(var(--button-text-rgb));
}

.table-bordered > tbody > tr:nth-child(n+1) > td, .table-bordered > thead > tr:nth-child(n+1) > th {
    background-color: rgba(var(--button-rgb));
    color: rgba(var(--button-text-rgb));
}

/* Dark theme */

.dark {
    --main-rgb: 25, 69, 83;
    --nav-rgb: 7, 19, 23;
    --button-rgb: 71, 106, 117;
    --button-text-rgb: 255, 255, 255;
    color-scheme: dark;
}
