nav {
    background: rgba(var(--nav-rgb));
    height: 12vh;
    align-items: center;
    display: flex;
    margin-bottom: 2vh; 
}

nav > svg {
    margin-left: 2vw;
    margin-right: 10vw;
}

nav > .upper--bar {
    gap: 15px;
}

button.btn {
    border-radius: 6px;
    background-color: rgba(var(--button-rgb));
    font-size: 16px;
    color: rgba(var(--button-text-rgb));
    border-color: rgba(var(--button-rgb));
}

button.btn:hover {
    opacity: 0.9;
    border-color: black;
}

input {
    
}