<style>
    nav {
      max-width: 100%;
      margin: 0 auto;
      padding: 0px 0;
    }
    
    nav ul {
      text-align: center;
      background: #00628B;
    }
    
    nav ul li {
      display: inline-block;
    }
    
    nav ul li {
      padding: 18px;
      font-family: "Open Sans";
      text-transform:uppercase;
      color: black;
      font-size: 18px;
      text-decoration: none;
      display: block;
    }
  
    @media (max-width: 500px) {
      a.move {
        display: none;
      }

      .main {
        display: none;
      }

      .mobile-icon {
        display: inline-block;
      }
    }
</style>

  <!-- Навигационная панель -->
  <div class="raw">
    <nav>
      <ul>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cup" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M.11 3.187A.5.5 0 0 1 .5 3h13a.5.5 0 0 1 .488.608l-.22.991a3.001 3.001 0 0 1-1.3 5.854l-.132.59A2.5 2.5 0 0 1 9.896 13H4.104a2.5 2.5 0 0 1-2.44-1.958L.012 3.608a.5.5 0 0 1 .098-.42Zm12.574 6.288a2 2 0 0 0 .866-3.899l-.866 3.9ZM1.124 4l1.516 6.825A1.5 1.5 0 0 0 4.104 12h5.792a1.5 1.5 0 0 0 1.464-1.175L12.877 4H1.123Z"/>
          </svg>
        </li>
      </ul>
    </nav>
  </div>
